<h2>Player</h2>

<mat-table [(dataSource)]="player">
	<ng-container matColumnDef="active">
		<mat-header-cell *matHeaderCellDef>Active</mat-header-cell>
		<mat-cell *matCellDef="let player">
			<mat-checkbox [(checked)]="player.active" (change)="putPlayer(player,$event.checked)"></mat-checkbox>
		</mat-cell>
	</ng-container>
	<ng-container matColumnDef="name">
		<mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
		<mat-cell *matCellDef="let player">{{player.name}}</mat-cell>
	</ng-container>
	<ng-container matColumnDef="id">
		<mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
		<mat-cell *matCellDef="let player">{{player.id}}</mat-cell>
	</ng-container>
	<ng-container matColumnDef="elo">
		<mat-header-cell *matHeaderCellDef>Elo</mat-header-cell>
		<mat-cell *matCellDef="let player">{{player.elo}}</mat-cell>
	</ng-container>
	<ng-container matColumnDef="score">
		<mat-header-cell *matHeaderCellDef>Score</mat-header-cell>
		<mat-cell *matCellDef="let player">{{player.score}}</mat-cell>
	</ng-container>
	<mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
	<mat-row *matRowDef="let rowData; columns: columnsToDisplay"></mat-row>
</mat-table>

<mat-form-field class="add-player">
  <input #v matInput type="text" placeholder="Player name"/><br/>
</mat-form-field>
<button mat-button mat-raised-button (click)="postPlayer(v.value)">Add player</button>